<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="/css/style.css">-->
    <!--<link rel="stylesheet" href="/css/chat.css">-->
</head>
<body>

<input id="input1" type="hidden" value="<%=house%>">
<%= 'EJS LOG  ' + cust %> <br>
<%= house %> <br>
<%= house.city %> <br>
<%= contract %> <br>
<%= service %> <br>

<div class="container"></div>
</body>
<script src="/js/bundle.js"></script>
</html>
